.landing h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 128px;
  text-shadow: 4px 4px #030512;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 500px;
  color: #e2ecf9;
}
.landing__img {
  position: relative;
  width: 100vw;
  filter: sepia(40%);
}

.nav {
  height: 60px;
  background-color: #e2ecf9;
}
.nav__links {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 30%;
  font-size: 24px;
  font-weight: bold;
}
.nav__links :link, .nav__links :visited {
  color: #0180b6;
  text-decoration: none;
}
.action__references--link:link, .action__references--link:visited, .our-action__quotes a, .our-action__quotes a:visited, .blogs__post--text a:link, .blogs__post--text a:visited {
  color: #e2ecf9;
  text-decoration: none;
  background-color: #0180b6;
  border-radius: 5px;
}

.blogs {
  max-width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #030512;
}
.blogs__post {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background-color: rgba(3, 5, 18, 0.7);
}
.blogs__post img {
  width: 20%;
  border-radius: 10px;
}
.blogs__post--reversed {
  flex-direction: row-reverse;
}
.blogs__post--text {
  font-size: 24px;
  font-weight: 200;
  color: #e2ecf9;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0.2px 0.2px #0180b6;
}
.blogs__post--text h3 {
  font-weight: 600;
}
.blogs__post--text a {
  padding: 10px;
}
.our-action {
  width: 100vw;
  height: 100vh;
}
.our-action__text {
  font-size: 24px;
  color: #e2ecf9;
  width: 100%;
  position: absolute;
  top: 17px;
  left: 50px;
}
.our-action__text--heading {
  margin: 20px;
  font-size: 96px;
}
.our-action__quotes {
  width: 100%;
  padding: 10px;
  position: absolute;
}
.our-action__quotes--first {
  width: 30%;
  position: absolute;
  top: 150px;
}
.our-action__quotes--second {
  width: 30%;
  position: absolute;
  top: 300px;
  right: 100px;
}
.our-action__quotes--third {
  width: 30%;
  position: absolute;
  top: 450px;
}
.our-action__quotes a {
  padding: 10px;
  margin: 10px;
  width: 10%;
  position: absolute;
  top: 500px;
  right: 100px;
}
.action__top--text-right, .action__top--text-left {
  width: 30%;
  position: absolute;
  color: #e2ecf9;
  text-shadow: 2px 2px #030512;
  text-align: center;
  font-size: 36px;
}

.action {
  color: #0180b6;
}
.action__top {
  position: relative;
}
.action__top--main-header {
  position: absolute;
  left: 35vw;
  font-size: 128px;
  font-style: italic;
  text-align: center;
  text-shadow: 4px 4px #030512;
}
.action__top--background img {
  width: 100vw;
  object-position: 50% 100%;
}
.action__top--text-left {
  top: 250px;
  left: 50px;
}
.action__top--text-right {
  top: 450px;
  right: 50px;
}
.action__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.action__main--divider-img {
  background-color: #030512;
}
.action__main--divider-img img {
  height: 400px;
}
.action__main--part {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.action__main--part h3 {
  font-size: 48px;
}
.action__main--part h4 {
  font-size: 32px;
}
.action__main--paras {
  display: flex;
  flex-direction: column;
}
.action__main--paras p {
  font-size: 24px;
}
.action__main--paras ul {
  font-size: 24px;
}
.action__main--divider {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 800px;
  background-color: #030512;
}
.action__main--illustration {
  color: #e2ecf9;
  display: flex;
  justify-content: space-evenly;
}
.action__main--illustration img {
  margin: 50px 20px;
  box-shadow: 5px 5px #0180b6;
  width: 20%;
  border-radius: 15px;
}
.action__main--illustration-legend {
  margin: 20px;
  color: #e2ecf9;
  text-shadow: 2px 2px #030512;
  text-align: center;
  font-size: 36px;
  font-style: italic;
}
.action__references {
  margin: 50px;
}
.action__references--link:link {
  background-color: #e2ecf9;
  color: #0180b6;
}
.action__references--link:visited {
  background-color: #e2ecf9;
  color: #0180b6;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 800px;
}
.header h2 {
  font-size: 128px;
  text-shadow: 3px 3px #030512;
}

.content__section {
  margin: 30px;
}
.content__section--text {
  font-size: 24px;
}
.content__section--text h3 {
  font-size: 48px;
}

.tweets {
  padding: 20px;
  background-color: #030512;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
.tweets div {
  width: 30%;
  height: 70%;
}

body {
  font-family: "Raaleway", sans-serif;
  color: #0180b6;
  padding: 0px;
  margin: 0px;
  background-color: #e2ecf9;
}
body footer {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 100;
  color: #0180b6;
  height: 200px;
  margin: 40px;
}
body footer div {
  width: 75%;
  text-align: center;
}
body footer div p {
  margin: 0px;
}
