@use "placeholders";
@import "palette";

.blogs {
    max-width: 100%;
    display: flex;
    flex-direction: column;

    &__post {
        display: flex;
        justify-content: space-around;
        padding: 30px;

        background-color: $off-black;

        img {
            width: 30%;
            border-radius: 10px;
        }

        &--reversed {
            flex-direction: row-reverse;
        }

        &--text {
            font-size: 24px;
            font-weight: 200;
            color: $primary-text;
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h3 {
                font-weight: 600;
            }

            a {
                padding: 10px;
            }

            a:link {
                @extend %blog-link-style;
            }

            a:visited {
                @extend %blog-link-style;
            }
        }
    }
}

// &__links {
//     display: flex;
//     justify-content: space-around;
//     padding: 30px;
//     width: 30%;
//     font-size: 24px;
//     font-weight: bold;

//     :link {
//         color: $primary-text;
//         text-decoration: none;
//     }
// }
