@import "palette";

.nav {
    height: 60px;
    background-color: $primary-background;

    &__links {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        width: 30%;
        font-size: 24px;
        font-weight: bold;

        :link {
            color: $primary-text;
            text-decoration: none;
        }

        :visited {
            @extend :link;
        }
    }
}
