@use "palette";
@use "placeholders";

.our-action {
    position: absolute;
    &__img {
        width: 100vw;
    }

    &__text {
        font-size: 24px;
        color: palette.$primary-background;

        width: 20%;
        display: flex;
        flex-direction: column;

        position: absolute;
        top: 17px;
        left: 50px;
    }

    &__link {
        padding: 10px;
        position: absolute;
        top: 450px;
        left: 50px;

        &:link {
            @extend %blog-link-style;
        }

        &:visited {
            @extend %blog-link-style;
        }
    }
}
