@import "palette";

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1548337138-e87d889cc369?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2696&q=80");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    width: 100vw;
    height: 800px;

    h2 {
        font-size: 128px;
        text-shadow: 2px 2px $off-black;
    }
}

.content {
    &__section {
        margin: 30px;

        &--text {
            font-size: 24px;
            h3 {
                font-size: 48px;
            }
        }
    }
}

.tweets {
    padding: 20px;
    background-color: $off-black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;

    div {
        width: 30%;
        height: 70%;
    }
}
